    <div class="list-book-buttons">
        <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
        <div class="list-search">
            <input placeholder="Search Book">
            <i class="fab fa-searchengin"></i>
        </div>
        <div>
            <button *ngIf="role === 'Administrator'" (click)="this.formService.showFormAddUser = true">
                <i class="fas fa-book">+</i>
            </button>
        </div>
    </div>
<div class="list-books-container">
<div *ngFor="let book of books | paginate: { itemsPerPage: pageSize, currentPage: currentPage}" class="list-book-block">
    <div><img src="../../../assets/fightclub.jpg"></div>
<div><p>Book Title:</p> {{ book.bookname}}</div>
<div *ngIf="role === 'Administrator'"><p>Count</p> {{book.count}}</div>
    <div><p>Author</p> {{book.author}}</div>
    <div><p>Description:</p> {{book.description}}</div>
    <div><p>Release Date:</p> {{book.released}}</div>
    <div><p>Rating:</p> {{book.rating}}</div>
    <button class="list-book-button" type="submit"
            (click)="takeBook()">
        Take a book
    </button>
    <button *ngIf="role === 'Administrator'" class="list-book-button" type="submit"
            (click)="deleteBook()">
        Delete book
    </button>
</div>
</div>