<div class="list-user-names">
  <div>Full Name</div>
  <div>User Login</div>
  <div class="filters-order">
    <button class="filters-order-active" (click)="showFilterRD = !showFilterRD">
      <span [hidden]="!filterByRating">By Rating</span>
      <span [hidden]="!filterByDate">By Date</span>
      <i class="fas fa-caret-down"></i>
    </button>
    <div class="filters-order-popup" [hidden]="!showFilterRD">
      <div (click)="filterByRating = true; filterByDate = false; showFilterRD=false">By Rating</div>
      <div (click)="filterByDate = true; filterByRating = false; showFilterRD=false">By Date</div>
    </div>
  </div>
  <div class="list-buttons">
    <div class="filters-pages">
      <button [disabled]="currentPage == 1" (click)="currentPage = currentPage - 1">
        <i class="fas fa-arrow-left"></i>
      </button>
      {{currentPage}}/{{numberOfPages}}
      <button [disabled] ="currentPage >=  countUsers / pageSize" (click)="currentPage = currentPage + 1">
        <i class="fas fa-arrow-right"></i>
      </button>
    </div>
    <div class="list-search">
      <input placeholder="Search user">
      <i class="fab fa-searchengin"></i>
    </div>
    <div>
      <button (click)="this.formService.showFormAddUser = true">
        <i class="fas fa-user-plus"></i>
      </button>
    </div>
  </div>
</div>
<div>
<div *ngFor="let user of users | slice:0:pageSize" class="list-user-block">
  <div>{{user.fullname}}</div>
  <div>{{user.username}}</div>
  <div [hidden]="!filterByDate">{{user.regDate}}</div>
  <div [hidden]="!filterByRating">{{user.rating}}</div>
  <div> </div>
  <button [routerLink]="user._id" class="list-user-button">
    <span>Open user profile</span>
    <i class="fas fa-user"></i>
  </button>
</div>
</div>
<!--!router.urlTree.contains(router.createUrlTree(['/login']))?-->
<router-outlet></router-outlet>