<div class="user-form"
     id="AddForm">
    <div class="close-addform"
         ng-click="uc.closeFormAddUser()">
        +
    </div>
    <form class="user-add"
          name="userAdd"
          id="add"
          ng-submit="uc.addUser()"
          novalidate>
        <div>
            <span>Username</span>
            <input ng-class="{ 'invalid' : userAdd.username.$invalid && userAdd.username.$dirty }"
                   name="username"
                   readonly
                   onfocus="this.removeAttribute('readonly')"
                   ng-minlength="4"
                   ng-maxlength="16"
                   type="text"
                   placeholder="Enter username"
                   ng-model="uc.formAddUser.username"
                   ng-required="true"
                   login-validation>
        </div>
        <p ng-show="userAdd.username.$invalid && userAdd.username.$dirty || userAdd.username.$error.correctLogin">
            Enter a valid username.
        </p>
        <p ng-show="userAdd.username.$dirty && userAdd.username.$error.required">
            Username is required
        </p>
        <p ng-show="userAdd.username.$error.minlength">
            Username is too short.
        </p>
        <p ng-show="userAdd.username.$error.maxlength">
            Username is too long.
        </p>
        <div class="add-login-used"
             ng-show="uc.loginConflict">
            This login already used.
        </div>


        <div>
            <span>E-mail</span>
            <input ng-class="{ 'invalid' : userAdd.email.$invalid && userAdd.email.$dirty }"
                   name="email"
                   ng-model="uc.formAddUser.email"
                   type="email" placeholder="Enter email"
                   ng-required="true"></div>


        <div class="add-email-used"
             ng-show="uc.emailConflict">
            This email already used.
        </div>
        <p ng-show="userAdd.email.$invalid && userAdd.email.$dirty">
            Enter a valid email.
        </p>
        <p ng-show="userAdd.email.$dirty && userAdd.email.$error.required">
            Email is required
        </p>
        <div>
            <span>Post</span>
            <input ng-class="{ 'invalid' : userAdd.post.$error.required && userAdd.post.$dirty }"
                   ng-required="true"
                   type="text"
                   name="post"
                   ng-model="uc.formAddUser.post"
                   placeholder="User post"></div>
        <p ng-show="userAdd.post.$error.required && userAdd.post.$dirty">
            Enter a user post.
        </p>
        <div>
            <span>Phone</span>
            <input ng-class="{ 'invalid' : userAdd.phone.$invalid && userAdd.phone.$dirty }"
                   ng-minlength="7"
                   ng-maxlength="13"
                   name="phone"
                   type="tel"
                   ng-required="true"
                   ng-model="uc.formAddUser.phone"
                   placeholder="Enter phone number"
                   tel-validation></div>
        <p ng-show="userAdd.phone.$error.required && userAdd.phone.$dirty">
            Phone number is required.
        </p>
        <p ng-show="userAdd.phone.$error.minlength || userAdd.phone.$error.maxlength || userAdd.phone.$error.correctNumber">
            Enter a correct phone.
        </p>
        <div>
            <span>Password</span>
            <input ng-class="{ 'invalid' : userAdd.password.$invalid && userAdd.password.$dirty }"
                   name="password"
                   ng-model="uc.formAddUser.password"
                   ng-minlength="8"
                   type="password"
                   placeholder="Enter password"
                   ng-required="true"
                   pass-validation> </div>
        <p class="text-error"
           ng-show="userAdd.password.$error.strongPass">
            Your password should contain digit and non-digit symbol
        </p>
        <p ng-show="userAdd.password.$error.required && userAdd.password.$dirty">
            Password is required.
        </p>
        <p ng-show="userAdd.password.$error.minlength">
            Password is too short.
        </p>
        <div>
            <span>Full name</span>
            <input ng-class="{ 'invalid' : userAdd.fullname.$invalid && userAdd.fullname.$dirty}"
                   ng-required="true"
                   name="fullname"
                   ng-model="uc.formAddUser.fullname"
                   type="text"
                   placeholder="Full name of user"
                   name-validation></div>
        <p ng-show="userAdd.fullname.$error.required && userAdd.fullname.$dirty">
            Enter full name.
        </p>
        <p ng-show="userAdd.fullname.$error.realName && userAdd.fullname.$dirty">
            Enter real name.
        </p>
        <div class="user-add-btn">
            <p>All fields are required</p>
            <button type="submit"
                    ng-disabled="!userAdd.$valid">
                Add user
            </button>
        </div>
    </form>
</div>
