@color1: #33373A;
@color2: #F8F9FA;
@color3: #F17153;
@green: #6cc400;
@red: red;
@grey: #A0A2A3;
.border-radius(@radius:5px){
  border-radius: @radius;
}
html, body {
  height: 100%;
  overflow: hidden;
}
body {
  overflow: auto; /* добавить полосу прокрутки */
}