
<div class="users-login-block"> <!-- *ngIf="this.authenticationService.userAuthentication === false"  -->
    <form class="users-login">
        <h2><i class="fas fa-book"></i> Library App</h2>
        <p>Login {{authenticationLogin}}</p>
        <input type="text" #log placeholder="Enter your login">

        <p>Password</p>
        <input type="password" #pass placeholder="Enter your pass">
        <span *ngIf="authenticationService.loginError">Incorrect login or password</span>
        <br><br>
        <label>
            <input type="checkbox" #checkbox name="remember"> Remember me
        </label>
        <button (click)="login(log.value, pass.value, checkbox.checked)" routerLink="/users">{{btnText}}</button>

    </form>
</div>
<router-outlet></router-outlet>