<div *ngIf="this.authenticationService.userAuthentication !== false" class="users-container">
    <div class="users-block">
        <ul class="users-menu">
            <li class="dashboard-title">
                <p routerLink="users" routerLinkActive="active">Users <i class="fas fa-users"></i></p>
                <span></span>
                <p routerLink="books" routerLinkActive="active">Books <i class="fas fa-book"></i></p>
            </li>
            <li class="dashboard-btns">
                    <button routerLink="addbook" routerLinkActive="active">
                        <i class="fas fa-book">+</i>
                    </button>
                        <button routerLink="adduser" routerLinkActive="active">
                                      <i class="fas fa-user-plus"></i>
                        </button>
                                <button routerLink="myprofile" routerLinkActive="active">
                    <i class="fas fa-user-tie"></i>
                </button>
                <button ng-show="userAuthentication"  (click)="logout()">
                    <i class="fas fa-sign-out-alt"></i>
                </button>
            </li>
        </ul>
        <div class="list-container">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
