<!--<div id="popupsContainer"-->
<!--*ngIf="showUserProfile || formService.showLibraryCard || formService.showFormAddUser">-->
<!--<form-add-user *ngIf="this.formService.showFormAddUser"-->
<!--email-conflict="emailConflict"-->
<!--login-conflict="loginConflict"-->
<!--form-add-user="formAddUser"-->
<!--close-form-add-user="closeFormAddUser"-->
<!--add-user="addUser"></form-add-user>-->
<!--<user-profile email-conflict="emailConflict"-->
<!--user-profile="userProfile"-->
<!--close-user-profile=" closeUserProfile"-->
<!--*ngIf="showUserProfile"-->
<!--edit-user=" editUser"></user-profile>-->
<!--<library-card library-card=" libraryCard"-->
<!--close-library-card=" closeLibraryCard"-->
<!--*ngIf="this.formService.showLibraryCard"-->
<!--pass-book=" passBook"-->
<!--take-book=" takeBook"></library-card>-->
<!--</div>-->
<div *ngIf="this.authenticationService.userAuthentication !== false" class="users-container">
    <div id="test"
         class="users-block">
        <ul class="users-menu">
            <li class="dashboard-title">
                <p  *ngIf="role">Users <i class="fas fa-users"></i></p>
                <span></span>
                <p routerLink="books" routerLinkActive="active">Books <i class="fas fa-book"></i></p>
            </li>
            <li class="dashboard-btns">
                        <button routerLink="add" routerLinkActive="active">
                                      <i class="fas fa-user-plus"></i>
                        </button>
                                <button [routerLink]="['user', myId]">
                    <i class="fas fa-user-tie"></i>
                </button>
                <button ng-show=" userAuthentication"  (click)=" logout()"> <!-- routerLink="/login" -->
                    <i class="fas fa-sign-out-alt"></i>
                </button>
                <button (click)="whoAmI()">WHO AM I???</button>

            </li>
        </ul>


        <div class="list-container">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
