<!--<div id="popupsContainer"-->
<!--*ngIf="showUserProfile || formService.showLibraryCard || formService.showFormAddUser">-->
<!--<form-add-user *ngIf="this.formService.showFormAddUser"-->
<!--email-conflict="emailConflict"-->
<!--login-conflict="loginConflict"-->
<!--form-add-user="formAddUser"-->
<!--close-form-add-user="closeFormAddUser"-->
<!--add-user="addUser"></form-add-user>-->
<!--<user-profile email-conflict="emailConflict"-->
<!--user-profile="userProfile"-->
<!--close-user-profile=" closeUserProfile"-->
<!--*ngIf="showUserProfile"-->
<!--edit-user=" editUser"></user-profile>-->
<!--<library-card library-card=" libraryCard"-->
<!--close-library-card=" closeLibraryCard"-->
<!--*ngIf="this.formService.showLibraryCard"-->
<!--pass-book=" passBook"-->
<!--take-book=" takeBook"></library-card>-->
<!--</div>-->
<div *ngIf="this.authenticationService.userAuthentication !== false" class="users-container">
    <div id="test"
         class="users-block">
        <ul class="users-menu">
            <li class="dashboard-title">
                <p routerLink="users" routerLinkActive="active">Users <i class="fas fa-users"></i></p>
                <span></span>
                <p routerLink="books" routerLinkActive="active">Books <i class="fas fa-book"></i></p>
            </li>
            <li>
                <button routerLink="myprofile">
                    <i class="fas fa-user-tie"></i>
                </button>
                <button class="logout" ng-show=" userAuthentication"  (click)=" logout()"> <!-- routerLink="/login" -->
                    <i class="fas fa-sign-out-alt"></i>
                </button>

            </li>
        </ul>


        <div class="users-list">
            <!--<div class="list-user-names">-->
                <!--<div>Full Name</div>-->
                <!--<div>User Login</div>-->
                <!--<div class="filters-order">-->
                    <!--<button class="filters-order-active" (click)="showFilterRD = !showFilterRD">-->
                        <!--<span [hidden]="!filterByRating">By Rating</span>-->
                        <!--<span [hidden]="!filterByDate">By Date</span>-->
                        <!--<i class="fas fa-caret-down"></i>-->
                    <!--</button>-->
                    <!--<div class="filters-order-popup" [hidden]="!showFilterRD">-->
                        <!--<div (click)="filterByRating = true; filterByDate = false; showFilterRD=false">By Rating</div>-->
                        <!--<div (click)="filterByDate = true; filterByRating = false; showFilterRD=false">By Date</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="list-buttons">-->
                    <!--<div class="filters-pages">-->
                        <!--<button [disabled]="currentPage == 1" (click)="currentPage = currentPage - 1">-->
                            <!--<i class="fas fa-arrow-left"></i>-->
                        <!--</button>-->
                        <!--{{currentPage}}/{{numberOfPages}}-->
                        <!--<button [disabled] ="currentPage >=  countUsers / pageSize" (click)="currentPage = currentPage + 1">-->
                            <!--<i class="fas fa-arrow-right"></i>-->
                        <!--</button>-->
                    <!--</div>-->
                    <!--<div class="list-search">-->
                        <!--<input placeholder="Search user">-->
                        <!--<i class="fab fa-searchengin"></i>-->
                    <!--</div>-->
                    <!--<div>-->
                        <!--<button (click)="this.formService.showFormAddUser = true">-->
                            <!--<i class="fas fa-user-plus"></i>-->
                        <!--</button>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<book-list></book-list>-->
            <router-outlet></router-outlet>
             <!--<user-panel [users]="users" *ngFor="let users of users | slice:0:pageSize" [filterByDate]="filterByDate" [filterByRating]="filterByRating"></user-panel>-->

            <!--<div class="dashboard-caption">-->
                <!--<p class="route">Users <i class="fas fa-angle-right"></i> Ignat <i class="fas fa-angle-right"></i> Modify</p>-->
                <!--<ul>-->
                    <!--<li>User modification <i class="fas fa-user-cog"></i></li>-->
                    <!--<li class="active">Book list <i class="fas fa-swatchbook"></i></li>-->
                    <!--<li>Books at user <i class="fas fa-bookmark"></i></li>-->
                <!--</ul>-->
                <!--<div class="close-button"><i class="fas fa-backspace" (click)=" closeUserProfile()"></i></div>-->
            <!--</div>-->
            <!--<div class="user-dashboard">-->
                <!--<user-profile></user-profile>-->
                <!--<library-card></library-card>-->
            <!--</div>-->
        </div>
    </div>
</div>
