<div class="dashboard-caption">
                <p class="route">Users <i class="fas fa-angle-right"></i> Ignat <i class="fas fa-angle-right"></i> Modify</p>
                <ul>
                    <li routerLink="booklist" routerLinkActive="active">Book list <i class="fas fa-swatchbook"></i></li>
                    <li routerLink="librarycard" routerLinkActive="active">Books at user <i class="fas fa-bookmark"></i></li>
                </ul>
                <div class="close-button"><i class="fas fa-backspace" routerLink="../"></i></div>
            </div>


<div class="user-dashboard">
    <form class="user-edit"
          name="userEdit"
          id="userEdit"
          ng-submit=" editUser()"
          novalidate>
        <div class="user-profile-title">
            <div><img src="/assets/user-default.jpg.png"></div>
            <p>{{userProfile.username}}</p>
        </div>
        <div>
            <span>E-mail</span>
            <input ng-class="{ 'invalid' : userEdit.email.$invalid && userEdit.email.$dirty }"
                   name="email"
                   [(ngModel)]=" userProfile.email"
                   type="email"
                   [disabled]="!profileIsEdit"
                   placeholder="Enter email"></div>
        <div class="edit-email-used"
             ng-show=" emailConflict">
            This email already used.
        </div>
        <p ng-show="userEdit.email.$invalid && userEdit.email.$dirty">
            Enter a valid email.
        </p>
        <p ng-show="userEdit.email.$dirty && userEdit.email.$error.required">
            Email is required
        </p>
        <div>
            <span>Post</span>
            <input ng-class="{ 'invalid' : userEdit.post.$error.required && userEdit.post.$dirty }"
                   ng-required="true"
                   type="text"
                   name="post"
                   [disabled]="!profileIsEdit"
                   [(ngModel)]=" userProfile.post"
                   placeholder="User post"></div>
        <p ng-show="userEdit.post.$error.required && userEdit.post.$dirty">
            Enter a user post.
        </p>
        <div>
            <span>Phone</span>
            <input ng-class="{ 'invalid' : userEdit.phone.$invalid && userEdit.phone.$dirty }"
                   ng-minlength="7"
                   ng-maxlength="13"
                   name="phone"
                   type="tel"
                   ng-required="true"
                   [disabled]="!profileIsEdit"
                   [(ngModel)]=" userProfile.phone"
                   placeholder="Enter phone number"
                   tel-validation></div>
        <p ng-show="userEdit.phone.$error.required && userEdit.phone.$dirty">
            Enter valid phone number.
        </p>
        <p ng-show="userEdit.phone.$error.minlength || userEdit.phone.$error.maxlength || userEdit.phone.$error.correctNumber">
            Enter a correct phone.
        </p>
        <div>
            <span>Password</span>
            <input ng-class="{ 'invalid' : userEdit.password.$invalid && userEdit.password.$dirty }"
                   name="password"
                   [(ngModel)]=" userProfile.password"
                   ng-minlength="8"
                   type="password"
                   [disabled]="!profileIsEdit"
                   placeholder="Enter password"
                   pass-validation></div>
        <p class="text-error"
           ng-show="userEdit.password.$error.strongPass">
            Your password should contain digit and non-digit symbol
        </p>
        <p ng-show="userEdit.password.$error.required && userEdit.password.$dirty">
            Password is required.
        </p>
        <p ng-show="userEdit.password.$error.minlength">
            Password is too short.
        </p>
        <div>
            <span>Full name</span>
            <input [disabled]="!profileIsEdit"
                   ng-class="{ 'invalid' : userEdit.fullname.$invalid && userEdit.fullname.$dirty}"
                   ng-required="true"
                   name="fullname"
                   [(ngModel)]=" userProfile.fullname"
                   type="text"
                   placeholder="Full name of user"
                   name-validation>
        </div>
        <p ng-show="userEdit.fullname.$error.required && userEdit.fullname.$dirty">
            Enter full name.
        </p>
        <p ng-show="userEdit.fullname.$error.realName && userEdit.fullname.$dirty">
            Enter real name.
        </p>
        <div class="user-edit-btns">
            <button (click)="deleteUser()" routerLink="../">
                DELETE <i class="fas fa-minus-circle"></i>
            </button>
            <button (click)="editUser()">
                {{userProfileBtnText}} <i *ngIf="!this.profileIsEdit" class="fas fa-users-cog"></i><i *ngIf="this.profileIsEdit" class="fas fa-user-check"></i>
            </button>
        </div>
    </form>
    <router-outlet></router-outlet>
</div>