<div class="library-card-container">
    <div class="close-library-card"
         (click)="closeLibraryCard()">
        <i class="fas fa-times"></i>
    </div>
    <form class="library-card"
          name="libraryCard"
          id="libraryCard">
        <h3>Library card</h3>
        <input type="hidden"
               [(ngModel)]=" libraryCard.id">
        <div>
            <span>Book</span>
            <input [(ngModel)]=" libraryCard.title"
                   name="title"
                   type="text"></div>
        <div>
            <span>Date of receiving</span>
            <input [(ngModel)]=" libraryCard.date"
                   name="date"
                   type="text"></div>
        <div class="library-card-btns">
            <p>All fields are required</p>
            <button type="submit"
                    (click)=" takeBook()"
            ><!-- [disabled]="!userEdit.$valid" -->
                Take a book
            </button>
            <button type="submit"
                    (click)=" passBook()"
            ><!-- [disabled]="!userEdit.$valid" -->
                Pass a book
            </button>
        </div>
    </form>
</div>