<div class="list-book-block">
    <div><img src="../../../assets/fightclub.jpg"></div>
<div><p>Book Title:</p> {{ book.bookname}}</div>
    <div><p>Author</p> {{book.author}}</div>
    <div><p>Description:</p> {{book.description}}</div>
    <div><p>Release Date:</p> {{book.released}}</div>
    <div><p>Rating:</p> {{book.rating}}</div>
    <button *ngIf="showTakeBtn"  class="list-book-button" type="submit"
            (click)="takeBook()">
        Take a book
    </button>
    <button *ngIf="showPassBtn" class="list-book-button" type="submit"
            (click)="passBook()">
        Pass a book
    </button>
</div>